<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <header>
            <div class="logo"><a href="/">Members Only</a></div>
            <nav>
                <ul><a href="/sign-up">Sign Up</a></ul>
            </nav>
        </header>

        <h1>An exclusive clubhouse where members can write anonymous posts.</h1>
    </body>

</html>