<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/navBar') %>
            <main class="posts-container">
                <div class="notice">
                    <% if (locals.currentUser && !currentUser.membership_status) { %>
                        <p>
                            <a href="/user/membership">Become a member</a> to create posts.</a>
                        </p>
                        <% } else if (locals.currentUser && currentUser.membership_status) { %>
                            <p>Welcome back member</p>
                            <p><a href="/message/new">Create a new message</a></p>
                            <% } else { %>
                                <p>
                                    <a href="/user/login">Log in</a> or <a href="/user/sign-up">Sign up</a> to view authors and
                                    timestamps of
                                    posts.
                                </p>
                                <% }%>

                </div>
            </main>
    </body>

</html>