<!DOCTYPE html>
<html lang="pt-br">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/navBar') %>
            <main>
                <div class="riddle-container">
                    <h1>Torne-se membro resolvendo o enigma.</h1>
                    <p>
                        Tenho chaves, mas não tenho fechaduras. <br>
                        Tenho um espaço, mas não tenho quarto. <br>
                        Você pode entrar, mas nunca poderá sair. <br>

                        O que sou eu?
                    </p>
                </div>

                <div class="form-container">
                    <%- include("../partials/form_errors.ejs") %>
                        <form action="/user/membership/check" method="POST">
                            <div class="form-group">
                                <label for="answer">A resposta é uma única palavra:
                                </label><br>
                                <input type="text" name="answer" id="answer" placeholder="sua resposta..." required>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="submit-btn">Enviar</button>
                                <a href="/" class="cancel-btn">Cancelar</a>
                            </div>
                        </form>
                </div>



            </main>
    </body>

</html>