<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/navBar') %>
            <main>
                <div class="riddle-container">
                    <h1>Become a member solving the riddle</h1>
                    <h2>Here's the riddle for you:</h2>
                    <p>
                        I have keys, but no locks. <br>
                        I have a space, but no room. <br>
                        You can enter, but you can never leave. <br>

                        What am I?
                    </p>
                    <p>The answer is a single word</p>
                    <%- include("../partials/form_errors.ejs") %>
                        <form action="/user/membership/check" method="POST">
                            <div class="form-group">
                                <label for="answer">Answer: </label>
                                <input type="text" name="answer" id="answer" placeholder="your answer..." required>
                            </div>
                            <div class="form-actions">
                                <button type="submit">Submit</button>
                                <button><a href="/">Cancel</a></button>
                            </div>
                        </form>
                </div>

            </main>
    </body>

</html>