<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/navBar') %>
            <main>
                <div class="signUp-container">
                    <div class="form-container">
                        <h1>Crie uma nova conta</h1>
                        <%- include("../partials/form_errors.ejs") %>
                            <form action="/user/sign-up/save" method="POST">
                                <div class="form-group">
                                    <label for="firstname">Nome:</label>
                                    <input type="text" name="firstname" id="firstname" placeholder="John" required>
                                </div>
                                <div class="form-group">
                                    <label for="lastname">Sobrenome:</label>
                                    <input type="text" name="lastname" id="lastname" placeholder="Doe" required>
                                </div>
                                <div class="form-group">
                                    <label for="username">Usuário:</label>
                                    <input type="text" name="username" id="username" placeholder="JohnDoe123" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Senha:</label>
                                    <input type="password" name="password" id="password" required>
                                </div>
                                <div class="form-group">
                                    <label for="c_password">Confirmar senha:</label>
                                    <input type="password" name="c_password" id="c_password" required>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="submit-btn">Salvar</button>
                                    <a href="/" class="cancel-btn">Cancelar</a>
                                </div>
                            </form>
                    </div>
                </div>

            </main>

    </body>

</html>