* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navBar Partials */

.navbar {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

.nav-logo a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: #4caf50;
}
